.footer {
   padding-top: 50px;
   padding-bottom: 30px;
   background: #fde4e4;
}
.footer_logo img {
   width: calc(100% - 80%);
   margin-bottom: 5px;
}
.footer_logo h5 {
   font-weight: 600;
   font-size: 1rem;
   margin-bottom: 15px;
}
.footer_logo p {
   font-size: 0.9rem;
   color: #333;
   line-height: 28px;
}
.footer_title {
   font-size: 1.1rem;
   color: #212245;
   font-weight: 600;
}
.delivery_time-item {
   background: transparent;
}
.delivery_time-item span {
   font-weight: 600;
   font-size: 1rem;
   color: #212245;
}
.delivery_time-item p {
   color: #212245;
}
.newsletter {
   padding: 7px 15px;
   border: 1px solid #212245;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.newsletter input {
   background: transparent;
   border: none;
   outline: none;
}
.newsletter span {
   background: #212245;
   padding: 0px 10px;
   border-radius: 5px;
   cursor: pointer;
}
.newsletter span i {
   color: #fff;
}
/* .newsletter input:focus {
   outline: none;
} */
.newsletter input::placeholder {
   color: #212245;
}
.copyright_text {
   font-size: 0.8rem;
   color: #df2020;
}
.social_link {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 20px;
}
.social_link span i {
   padding: 5px;
   background: #212245;
   color: #fff;
   border-radius: 50%;
}
@media only screen and (max-width: 992px) {
   .newsletter input {
      padding: 7px;
      font-size: 0.7rem;
   }
   .newsletter span {
      padding: 4px 15px;
      font-size: 0.7rem;
   }
}
@media only screen and (max-width: 768px) {
   .footer_title {
      font-size: 0.9rem;
   }
   .delivery_time-item span {
      font-size: 0.8rem;
   }
   .delivery_time-item p {
      font-size: 0.7rem;
      margin-bottom: 0;
   }
   .newsletter input {
      padding: 7px;
      font-size: 0.7rem;
   }
   .newsletter span {
      padding: 4px 15px;
      font-size: 0.7rem;
   }
}
@media only screen and (max-width: 576px) {
   .copyright_text {
      text-align: center;
   }
   .social_link {
      justify-content: center;
   }
   .social_link p {
      font-size: 0.8rem;
   }
   .social_link span {
      padding: 4px;
   }
}
