.header {
   width: 100%;
   height: 80px;
   line-height: 30px;
}
.nav_wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 15px;
}
.logo {
   text-align: center;
}
.logo img {
   width: calc(100% - 70%);
   object-fit: contain;
   margin-top: 10px;
}
.logo h5 {
   font-weight: 600;
   font-size: 1rem;
   color: #212245;
   margin-top: 5px;
   margin-bottom: 0px;
}
.menu {
   display: flex;
   align-items: center;
   gap: 30px;
}
.menu a {
   font-weight: 600;
   font-size: 1rem;
   color: #212245;
   transition: 0.3s;
}
.menu a:hover {
   color: #df2020;
}
.active_menu {
   color: #df2020 !important;
}
.nav_right {
   display: flex;
   align-items: center;
   gap: 15px;
}
.cart_icon i,
.user i,
.mobile_menu i {
   font-size: 1.3rem;
   color: #212245;
   cursor: pointer;
}
.cart_icon {
   position: relative;
}
.cart_badge {
   position: absolute;
   top: -3px;
   right: -12px;
   background: #df2020;
   color: #fff;
   border-radius: 50%;
   width: 15px;
   height: 15px;
   font-size: 0.8rem;
   font-weight: 500;
   display: flex;
   align-items: center;
   justify-content: center;
}
.mobile_menu {
   font-weight: 600;
   display: none;
}
.header_shrink {
   position: sticky;
   top: 0;
   left: 0;
   box-shadow: 5px 5px 15px -5px #fde4e4;
   background: #fff;
   z-index: 1000;
   transition: 0.5s;
}
@media only screen and (max-width: 992px) {
   .logo img {
      width: calc(100% - 70%);
   }
   .logo h5 {
      font-size: 0.8rem;
   }
   .navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.534);
      z-index: 99;
      display: none;
   }
   .menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      background: #fff;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 100;
      line-height: 30px;
   }
   .menu a {
      font-size: 0.8rem;
   }
   .cart_icon i,
   .user i,
   .mobile_menu i {
      font-size: 1rem;
   }
   .mobile_menu {
      display: block;
   }
   .show_menu {
      display: block;
   }
}
@media only screen and (max-width: 768px) {
   .header {
      width: 100%;
      height: 80px;
      line-height: 30px;
   }
}
