.hero_content {
   padding-top: 70px;
}
.hero_content p {
   font-size: 1rem;
   line-height: 30px;
   color: #777;
}
.hero__title {
   font-size: 2.5rem;
   line-height: 55px;
}
.hero__title span {
   color: #df2020;
}
.hero_btn {
   display: flex;
   align-items: center;
   gap: 30px;
}
.hero_btn button {
   border: none;
   outline: none;
   padding: 7px 20px;
   border-radius: 5px;
   font-weight: 600;
}
.order_btn {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #df2020;
   color: #fff;
   transition: 0.3s;
}
.order_btn:hover {
   background: #212245;
}
.all_foods-btn {
   background: transparent;
   border: 1px solid #df2020 !important;
}
.all_foods-btn a {
   color: #df2020;
}
.hero_service p {
   color: #212245;
   font-weight: 600;
   font-size: 0.9rem;
}
.shipping_icon i {
   padding: 5px;
   background: #df2020;
   color: #fff;
   border-radius: 50%;
   font-weight: 500 !important;
}
