.feature_subtitle {
   color: #de2020;
   margin-bottom: 20px;
}
.feature_title span {
   color: #de2020;
}
.feature_text {
   color: #777;
}
.feature_item {
   color: #777;
}
.food_category {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
   background: #de2020;
   text-align: center;
   margin-top: 30px;
   padding: 20px 0px;
   border-radius: 8px;
}
.food_category button {
   border: none;
   outline: none;
   padding: 7px 20px;
   background: transparent;
   color: #fff;
   display: flex;
   align-items: center;
   gap: 20px;
}

.food_category button img {
   width: 30px;
   height: 30px;
}
.foodBtnActive {
   background: #fff !important;
   color: #de2020 !important;
   border-radius: 5px;
}
.tasty_treat-title {
   margin-bottom: 20px;
}
.tasty_treat-title span {
   color: #de2020;
}
.tasty_treat-desc {
   color: #777;
   line-height: 28px;
}
.choose_us-title {
   font-weight: 600;
}
.choose_us-title i {
   font-weight: 500 !important;
   color: #de2020;
}
.choose_us-desc {
   color: #777;
}
.testimonial_subtitle {
   color: #de2020;
}
.testimonial_title span {
   color: #de2020;
}
.testimonial_desc {
   color: #777;
   line-height: 30px;
}
@media only screen and (max-width: 768px) {
   .hero_content h5 {
      font-size: 1rem;
   }
   .hero_content p {
      font-size: 0.8rem;
      line-height: 20px;
   }
   .hero__title {
      font-size: 1.5rem;
      line-height: 40px;
   }
   .hero_btn button {
      padding: 5px 15px;
      font-size: 0.7rem;
   }
   .hero_service p {
      font-size: 0.7rem !important;
   }
   .feature_item h5 {
      font-size: 0.9rem;
   }
   .feature_item p {
      font-size: 0.8rem;
      margin-bottom: 0;
   }
   .feature_subtitle {
      font-size: 1rem;
   }
   .feature_text {
      font-size: 0.8rem;
   }
   .food_category {
      padding: 15px;
   }
   .food_category button {
      padding: 5px 15px;
      font-size: 0.9rem;
   }
   .tasty_treat-desc {
      font-size: 0.8rem;
      margin-bottom: 0;
   }
   .choose_us-title {
      font-size: 0.8rem;
   }
   .choose_us-desc {
      font-size: 0.7rem;
   }
   .why_choose-us {
      padding-top: 0 !important;
   }
   .testimonial_subtitle {
      font-size: 1rem;
   }
   .testimonial_desc {
      font-size: 0.8rem;
   }
}
@media only screen and (max-width: 576px) {
   .hero_content {
      text-align: center;
   }

   .hero_btn {
      justify-content: center;
   }

   .hero_service {
      justify-content: center;
   }
   .why_choose-us {
      padding-top: 0px !important;
   }
}
