.paginationBtn {
   width: 80%;
   height: 40px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 1.5rem;
   list-style: none;
   margin-top: 30px;
}
.paginationBtn a {
   padding: 5px 13px;
   background: #df2020;
   color: #fff !important;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 5px;
   transition: 0.3s;
}
.paginationBtn a:hover {
   background: #212245;
}
